.all-listings {
    display: flex;
    flex-direction: column;
}

.listing {
    display: flex;
    flex-direction: row;
    background-color: #97bfff;
    margin-top: 2vh;
    border-radius: 2vh;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}

.listed-nft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.listed-nft-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listed-nft-image {
    width: 10vw;
    border-radius: 1.5vw;
    margin-right: 2vw;
}

.listed-nft-name {
    font-size: 3vh;
    font-weight: 500;
}

.listing-ask {
    font-size: 3vh;
}

.listing-buttons {
    width: 22vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copy-link {
    height: 7vh;
    width: 10vw;
    font-size: 2vh;
    font-weight: 600;
    border-radius: 1vh;
    border: 2px solid rgb(0, 112, 0);
    background-color: rgb(0, 255, 170);
}

.cancel-listing {
    height: 7vh;
    width: 10vw;
    font-size: 2vh;
    font-weight: 600;
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(112, 0, 0);
    background-color: rgb(255, 0, 0);
}
