.App {
    text-align: center;
}

.navbar-div {
    background-color: #97bfff;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-text {
    font-size: 3vh;
}

.navbar-routes {
    font-size: 3vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
